
.header__nav__logo{
    width: 280px;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: -50px;
    @media screen and (max-width: 850px) {
        width: 280px*0.80;
    }
}
.header__nav__link:hover{
    transform: scale(1.05,1.05);
    @media screen and (max-width: 850px) {
        transform: none;
    }
}