
.header{
    position: relative;
    overflow: hidden;
    /*IMAGEN BACKGROUND*/
    &__fondo{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
        @media screen and (max-width: 1024px){
            height: 100%;
        }
    }
    /*NAV Y LOGO*/
    &__nav{
        position: relative;
        z-index: 2;
        @media screen and (max-width: 994px){
            justify-content: center;
        }
        &__logo{
            width: 250px;
            @media screen and (max-width: 850px) {
                width: 250px*0.80;
            }
        }
        &__list{
            background-color: black;
            opacity: 0.8;
            &__item{
                text-transform: uppercase;
                &__link{
                    font-size: 20px;
                    color: rgb(97, 97, 97);
                    text-decoration: none;
                    font-weight: 600;
                    &:hover{
                        color: black !important;
                        background-color: rgb(97,97,97) !important;
                    }
                }
            }
        }
    }
}