/* FORMULARIO */
.main__formulario{
    background: black;
    display: flex;
    justify-content: center;
    &__contenedor{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 500px;
        &__fieldset{
            border: 1px white solid;
            padding: 5px;
            @media screen and (max-width: 540px) {
                margin-left: 15px;
                margin-right: 15px;
                
            }
            &__textarea{
                height: 200px;
            }
        }
    }
}
