/*TIENDA DE CLASICOS*/

.main__contenedor__tienda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto;
    gap: 20px;
    @media screen and (max-width: 1248px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 636px) {
            grid-template-columns: 1fr;
        }
    &__card{
        width: 18rem;
        margin-top: 50px;
        justify-self: center;
        @media screen and (max-width: 636px) {
            width: 100%;
            flex-direction: row;
            font-size: 13px;
        }
        &__boton{
            padding: 5px;
            color:#fff;
            background-color: #1e293b;
            border: 0 solid #e2e8f0;
            border-radius: 1.5rem;
            line-height: 1;
            padding: 1rem 1.6rem;
            text-decoration: none #0d172a solid;
            transition: all .1s cubic-bezier(.4,0,.2,1);
            box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
            &:hover{
                transform: scale(1.05,1.05);
                background-color: #1e293b;
                color: #fff
            }
        }
        &--ultimaColumna{
            @extend .main__contenedor__tienda__card;
            margin-bottom: 130px;
            @media screen and (max-width: 1248px) {
                margin-bottom: 0px;
            }
        }
        &__link{
            display: flex;
        }
        &__imagen{
            height: 286px;
            width: 286px;
            object-fit: cover;
            @media screen and (max-width: 450px) {
                height: 100%;
                width: 150px;
            }
        }
    }
}
.main__contenedor__destacados{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding: 20px;
        @media screen and (max-width: 1380px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 728px) {
            grid-template-columns: 1fr;
            
        }
        &__card{
            width: 20rem;
            margin-bottom: 100px;
            justify-self: center;
            @media screen and (max-width: 406px) {
                width: 100%;
            }
            &__link{
                display: flex;
            }
            &__imagen{
                width: 318px;
                height: 318px;
                object-fit: cover;
                @media screen and (max-width: 406px) {
                    width: 100%;
                }
            }
        }
    }
