/*VUELTA A LOS VALLES*/
.main__vueltaValles__hero{
    display: flex;
    margin: 16px 22px;
    gap: 1rem;
    border: 1px white solid;
    @media screen and (max-width: 990px) {
        flex-direction: column;
        align-items: center;
    }
    &__contenedor{
        font-size: 24px;
        padding: 10px;
        color: white;
        &__iframe{
            @media screen and (max-width: 850px){
                width: 100%;
            }
        }
    }
}
.main__vueltaValles__secundario{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
    }
    &__link{
        text-decoration: none;
        color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        &:hover{
            color: white;
        }
        &__imagen{
            width: 318px;
            height: 448px;
            object-fit: cover;
            object-position: left;
            background:white;
            padding: 2px;
            @media screen and (max-width: 675px) {
                height: 300px;
                width: 200px;
            }
            @media screen and (max-width: 431px) {
                height: 250px;
                width: 125px;
            }
        }
    }
}
