/*RESET*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*MAIN GENERAL*/
.main {
  background-color: black;
  padding: 20px;
}

/*TITULOS Y GENERALES*/
.tituloh1 {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 42px;
}

.tituloh2 {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  -webkit-transform: skewX(-1deg);
          transform: skewX(-1deg);
}

.tituloh3 {
  font-size: 20px;
  color: white;
  padding: 1rem;
  text-align: center;
}

p {
  font-size: 18px;
}

.separador {
  color: white;
  padding: 5px;
  width: 100%;
}

/*VARIABLES*/
.header__nav__logo {
  position: -webkit-sticky;
  position: sticky;
  width: 280px;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: -50px;
}

@media screen and (max-width: 850px) {
  .header__nav__logo {
    width: 224px;
  }
}

.header__nav__link:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media screen and (max-width: 850px) {
  .header__nav__link:hover {
    -webkit-transform: none;
            transform: none;
  }
}

/* HERO */
.main__hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../multimedia/varios/fernandoHero.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/varios/fernandoHero.png");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .main__hero {
    background-position: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main__hero__texto {
  text-align: center;
  margin-bottom: 20%;
  margin-left: 100px;
  color: white;
}

@media screen and (max-width: 768px) {
  .main__hero__texto {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 30px;
  }
}

.main__hero__texto__boton {
  padding: 5px;
  color: #0d172a;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  line-height: 1;
  padding: 1rem 1.6rem;
  -webkit-text-decoration: none #0d172a solid;
          text-decoration: none #0d172a solid;
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
          box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

.main__hero__texto__boton:hover {
  background-color: #1e293b;
  color: #fff;
}

/*SEGUNDA SECCION INDEX*/
.main__index__section {
  background-color: #0f0f0f;
  overflow: hidden;
  padding-top: 20px;
}

.main__index__section__carrousel__imagen {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .main__index__section__carrousel__imagen {
    height: auto;
  }
}

.main__index__section__contenedor {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .main__index__section__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__index__section__contenedor__imagen {
  width: 30vw;
}

@media screen and (max-width: 970px) {
  .main__index__section__contenedor__imagen {
    width: 50vw;
    padding-top: 20px;
  }
}

.main__index__section__contenedor__texto {
  color: white;
  padding: 2rem;
  line-height: 2rem;
  font-size: 22px;
}

.main__index__section__contenedor__texto--cel {
  color: white;
  padding: 2rem;
  line-height: 2rem;
  font-size: 22px;
  display: none;
}

@media screen and (max-width: 550px) {
  .main__index__section__contenedor__texto--cel {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .main__index__section__contenedor__texto {
    display: none;
  }
}

/*FORMULARIO DE INSCRIPCION*/
.main__inscripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__inscripcion__fieldset {
  border: black 2px solid;
  padding: 20px;
  background: #c8c8c8;
}

.main__inscripcion__fieldset__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*NUESTRO CLUB*/
.main__nuestroClub {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main__nuestroClub__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  justify-items: center;
}

@media screen and (max-width: 1234px) {
  .main__nuestroClub__contenedor {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .main__nuestroClub__contenedor {
    display: none;
  }
}

.main__nuestroClub__contenedorVideo {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__nuestroClub__contenedorVideo__video {
  background-color: white;
  padding: 2px;
  width: 900px;
}

@media screen and (max-width: 920px) {
  .main__nuestroClub__contenedorVideo__video {
    width: 100%;
  }
}

.main__nuestroClub__contenedor__articulo {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main__nuestroClub__contenedor__articulo:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main__nuestroClub__contenedor__articulo__link {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  color: #c8c8c8;
  text-align: center;
  z-index: 100;
}

.main__nuestroClub__contenedor__articulo__imagen {
  max-height: 90vh;
  max-width: 85vw;
}

.main__nuestroClub__contenedor__imagen, .main__nuestroClub__contenedor__imagen--primera, .main__nuestroClub__contenedor__imagen--ultima {
  background-color: white;
  padding: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 300px;
}

.main__nuestroClub__contenedor__imagen:hover, .main__nuestroClub__contenedor__imagen--primera:hover, .main__nuestroClub__contenedor__imagen--ultima:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  border: 1px black solid;
}

.main__nuestroClub__carousel {
  display: none;
}

@media screen and (max-width: 850px) {
  .main__nuestroClub__carousel {
    display: block;
    background-color: white;
    padding: 2px;
  }
}

.main__nuestroClub__carousel__imagen {
  width: 100%;
  height: 450px;
}

@media screen and (max-width: 570px) {
  .main__nuestroClub__carousel__imagen {
    height: 250px;
  }
}

/*TIENDA DE CLASICOS*/
.main__contenedor__tienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
}

@media screen and (max-width: 1248px) {
  .main__contenedor__tienda {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 636px) {
  .main__contenedor__tienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main__contenedor__tienda__card, .main__contenedor__tienda__card--ultimaColumna {
  width: 18rem;
  margin-top: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 636px) {
  .main__contenedor__tienda__card, .main__contenedor__tienda__card--ultimaColumna {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 13px;
  }
}

.main__contenedor__tienda__card__boton {
  padding: 5px;
  color: #fff;
  background-color: #1e293b;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  line-height: 1;
  padding: 1rem 1.6rem;
  -webkit-text-decoration: none #0d172a solid;
          text-decoration: none #0d172a solid;
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
}

.main__contenedor__tienda__card__boton:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  background-color: #1e293b;
  color: #fff;
}

.main__contenedor__tienda__card--ultimaColumna {
  margin-bottom: 130px;
}

@media screen and (max-width: 1248px) {
  .main__contenedor__tienda__card--ultimaColumna {
    margin-bottom: 0px;
  }
}

.main__contenedor__tienda__card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__contenedor__tienda__card__imagen {
  height: 286px;
  width: 286px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 450px) {
  .main__contenedor__tienda__card__imagen {
    height: 100%;
    width: 150px;
  }
}

.main__contenedor__destacados {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 20px;
}

@media screen and (max-width: 1380px) {
  .main__contenedor__destacados {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 728px) {
  .main__contenedor__destacados {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main__contenedor__destacados__card {
  width: 20rem;
  margin-bottom: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 406px) {
  .main__contenedor__destacados__card {
    width: 100%;
  }
}

.main__contenedor__destacados__card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__contenedor__destacados__card__imagen {
  width: 318px;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 406px) {
  .main__contenedor__destacados__card__imagen {
    width: 100%;
  }
}

/*VUELTA A LOS VALLES*/
.main__vueltaValles__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 22px;
  gap: 1rem;
  border: 1px white solid;
}

@media screen and (max-width: 990px) {
  .main__vueltaValles__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__vueltaValles__hero__contenedor {
  font-size: 24px;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 850px) {
  .main__vueltaValles__hero__contenedor__iframe {
    width: 100%;
  }
}

.main__vueltaValles__secundario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .main__vueltaValles__secundario {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.main__vueltaValles__secundario__link {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__vueltaValles__secundario__link:hover {
  color: white;
}

.main__vueltaValles__secundario__link__imagen {
  width: 318px;
  height: 448px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  background: white;
  padding: 2px;
}

@media screen and (max-width: 675px) {
  .main__vueltaValles__secundario__link__imagen {
    height: 300px;
    width: 200px;
  }
}

@media screen and (max-width: 431px) {
  .main__vueltaValles__secundario__link__imagen {
    height: 250px;
    width: 125px;
  }
}

/* FORMULARIO */
.main__formulario {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__formulario__contenedor {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
}

.main__formulario__contenedor__fieldset {
  border: 1px white solid;
  padding: 5px;
}

.main__formulario__contenedor__fieldset__textarea {
  height: 200px;
}

/* FOOTER */
.footer {
  background: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Nav del Footer*/
  /*Iframe*/
  /*Logos Redes*/
}

@media screen and (max-width: 796px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer__list__item {
  padding: 1rem;
  margin-left: 10px;
}

.footer__list__item__link {
  padding: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
}

.footer__list__item__link:hover {
  color: white;
}

.footer__iframe {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.footer__contenedor__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 796px) {
  .footer__contenedor__logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer__contenedor__logos__link:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}
/*# sourceMappingURL=main.css.map */